/* Estilização geral */
body {
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    overflow: hidden; 
  }
  
  /* Estilização do container */
  .container {
    text-align: center;
    width: calc(100% - 20%); /* Bordas laterais de 10% */
    max-width: 400px;
    background: #f4f4f4;
    border: 2px solid #000;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px 0;
  }
  
  /* Estilização dos anúncios */
  .ad {
    margin: 20px auto;
    text-align: center;
    width: calc(100% - 20px);
    max-width: 90vw;
    min-width: 300px;
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
  }
  
  /* Conteúdo principal */
  .main-content h1 {
    font-size: 1.5em;
    color: #000;
    margin: 20px 0;
  }
  
  .btn {
    display: inline-block;
    background-color: #ffd700;
    color: #000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 5px;
    transition: all 0.3s;
  }
  
  .btn:hover {
    background-color: #f1c40f;
    transform: scale(1.05);
  }
  
  /* Estilo dos botões sociais */
  .social-buttons {
    margin-top: 20px;
  }
  
  .btn.instagram {
    background-color: #e4405f;
    color: #fff;
  }
  
  .btn.instagram:hover {
    background-color: #d83553;
  }
  
  .btn.whatsapp {
    background-color: #25d366;
    color: #fff;
  }
  
  .btn.whatsapp:hover {
    background-color: #20b558;
  }
  
  /* Nota */
  .note {
    font-size: 0.9em;
    color: #555;
    margin-top: 10px;
  }
  

  /* Media Queries */
  @media (max-width: 480px) {
    .ad {
      width: 100%;
      max-width: none;
      padding: 10px;
      border: none;
      box-shadow: none;
    }
  }
  
  @media (min-width: 768px) {
    .ad {
      width: 400px;
      padding: 20px;
    }
  }